.inputLabel {
	padding:4px;
}
.optionalInput .inputLabel  {
	color:#808080;
}
.alertBox {
    background: none repeat scroll 0 0 #d64;
    color: #e4e4e4;
    padding: 2px;
    text-align: center;
}
.loginButtons {
	width:80%;
	background:#4F81BB;
    border: 0 none;
    font-size: 1.2em;
    padding: 6px;   

}

.buttonHolder {
	text-align: center; 
	margin:6px;
}

.onsen-sliding-menu__main .ons-page-inner {
    background: url("../img/Outdoor1.jpg") no-repeat center center fixed !important; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}
.center {
	text-align:center;
}

.profilePicture {
	padding: 20px;
    padding: 30px;
    text-align: center;
}

#toolbar {
	background:#88ee88;	
}

body:after{
   content: url("../img/Outdoor1.jpg") display:none;
}

.eventList {
	margin: 2%;
}

.switch {
    float: right;
    margin: 0.3em;
}

.createEvent{
	background: none repeat scroll 0 0 #fff;
    margin: 2%;
    opacity: 0.92;
    padding: 15px;
}
