<ons-page ng-controller="allEvents">
    <ons-toolbar >
        <div class="left">
          <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="right">
          <ons-toolbar-button ng-click="console.log(navOut.getPages())">
            <ons-icon icon="ion-gear-a" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">All Events</div>
    </ons-toolbar>
    
    <body> 
		<div ng-show="netAlert" class="alertBox"> Your Internet is Offside :/</div>
    	<ons-list class="eventList">
	    	<ons-list-item ng-repeat="event in myEvents"><h3>{{event.Description}}</h3>
	    		<div ng-repeat="creator in event.Creators">{{creator.name}}</div>
	    		<div>{{event.Interest.Category}}</div>
	    		<div>{{event.Interest.Interest}}</div>
	    	</ons-list-item>
    	</ons-list>
    </body>
</ons-page>