




    <ons-page ng-controller="Categories">
        <ons-toolbar >
            <div class="left">
              <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
              </ons-toolbar-button>
            </div>
            <div class="right">
              <ons-toolbar-button ng-click="console.log(navOut.getPages())">
                <ons-icon icon="ion-gear-a" size="28px" fixed-width="false"></ons-icon>
              </ons-toolbar-button>
            </div>
            <div class="center">CATEGORIES</div>
        </ons-toolbar>

    <body ng-show="loggedIn">
    	      <ons-button onclick="navOut.pushPage('login.html')">Push</ons-button>
        <ons-list style="margin-top: 0px;">
            <ons-list-item ng-repeat="(categName, categInfo) in options" >
                <!--<ons-list-header ng-if="header!=interest.get('Category')">{{header = interest.get('Category')}}</ons-list-header>-->
                <ons-row>
                    <ons-list style="margin-top: 0px;">
                        <ons-list-title class="col">{{categName}}</ons-list-title>
                        <ons-list-item ng-repeat="interest in categInfo" >
                            <span style="color: #666">{{interest.Interest}}</span>
                            <ons-switch modifier="list-item" var="{{interest.Interest}}" checked="{{interest.isChecked}}"></ons-switch>
                        </ons-list-item>
                    </ons-list>	
                </ons-row>
            </ons-list-item>
        </ons-list>
    </body>
</ons-page>


