




    <ons-page ng-controller="Categories">
        <ons-toolbar >
            <div class="left">
              <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
              </ons-toolbar-button>
            </div>
            <div class="right">
              <ons-toolbar-button ng-click="console.log(navOut.getPages())">
                <ons-icon icon="ion-gear-a" size="28px" fixed-width="false"></ons-icon>
              </ons-toolbar-button>
            </div>
            <div class="center">CATEGORIES</div>
        </ons-toolbar>

    <body ng-show="loggedIn">
    	      <ons-button onclick="navOut.pushPage('login.html')">Push</ons-button>
        <ons-list style="margin-top: 0px;">
            <ons-list-item ng-repeat="(value,categ) in options" >
                <!--<ons-list-header ng-if="header!=interest.get('Category')">{{header = interest.get('Category')}}</ons-list-header>-->
                <ons-row>
                    <ons-list style="margin-top: 0px;">
                        <ons-list-title class="col">{{value}}</ons-list-title>
                        <ons-list-item ng-repeat="interest in categ" >
                            <span style="color: #666">{{interest.Interest}}</span>
                              <label class="switch">
							      <input ng-model="interest.isChecked" type="checkbox" class="switch__input" checked>
							            <div class="switch__toggle"></div>
							  </label>
                            
                            
                        </ons-list-item>
                    </ons-list>	
                </ons-row>
            </ons-list-item>
        </ons-list>
         <ons-button ng-click="submitChanges()">Changes status</ons-button>
         <div>{{options}}</div>
    </body>
</ons-page>


