<ons-page ng-controller="createEvent">
    <ons-toolbar >
        <div class="left">
          <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="right">
          <ons-toolbar-button ng-click="console.log(navOut.getPages())">
            <ons-icon icon="ion-gear-a" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">The Creator!</div>
    </ons-toolbar>
    
    <body >
    	<div ng-show="submitReady">
		
			<select ng-model="selectedItem" ng-options="interest.Interest for interest in interests track by interest.objectId"></select>
	
	    	<form name="createEventForm">
	    		<label>Event brief:	
	    			<input class="text" name="eventDescription" ng-model="eventDescription" ng-minlength="3" ng-maxlength="10" required></input> 
	    		</label>
	    		<input type="submit" value="Create Event"  ng-disabled="createEventForm.eventDescription.$dirty && createEventForm.eventDescription.$invalid">
	    	</form>

    	</div>
    </body>
</ons-page>