<ons-page ng-controller="createEvent">
    <ons-toolbar >
        <div class="left">
          <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="right">
          <ons-toolbar-button ng-click="console.log(navOut.getPages())">
            <ons-icon icon="ion-gear-a" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">The Creator!</div>
    </ons-toolbar>
    
    <body >
    	<div ng-show="submitReady">
		
			<select ng-model="selectedItem" ng-options="interest.Interest for interest in interests track by interest.objectId"></select>
	
	    	<form name="createEventForm">
	    		<label>Event brief:	
	    			<input class="text" name="eventDescription" ng-model="eventDescription" ng-minlength="3" ng-maxlength="10" required></input> 
	    		</label>
	    		
	    		
	    		<label for="eventDate">Pick a date in 2013:</label>
				<input type="date" id="eventDate" name="inputDate" ng-model="eventDate"
				   placeholder="yyyy-MM-dd" min="2013-01-01" max="2013-12-31" required />
				 <div role="alert">
					 <span class="error" ng-show="createEventForm.inputDate.$error.required">
					 Required!</span>
					 <span class="error" ng-show="createEventForm.inputDate.$error.date">
					 Not a valid date!</span>
				</div>
	    		<input type="button"  ng-disabled="createEventForm.eventDescription.$invalid || createEventForm.inputDate.$invalid" ng-click="createEvent()" />
	    		
	    	</form>
	    	
	    	
 <!--
    <tt>value = {{eventDate | date: "yyyy-MM-dd"}}</tt><br/>
    <tt>myForm.input.$valid = {{myForm.input.$valid}}</tt><br/>
    <tt>myForm.input.$error = {{myForm.input.$error}}</tt><br/>
    <tt>myForm.$valid = {{myForm.$valid}}</tt><br/>
    <tt>myForm.$error.required = {{!!myForm.$error.required}}</tt><br/>-->
</form>{{ISOdate}}

    	</div>
    </body>
</ons-page>