<ons-page ng-controller="createEvent">
    <ons-toolbar >
        <div class="left">
          <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="right">
          <ons-toolbar-button ng-click="console.log(navOut.getPages())">
            <ons-icon icon="ion-gear-a" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">The Creator!</div>
    </ons-toolbar>
    
    <body >
    	<div ng-show="netAlert" class="alertBox"> Your Internet is Offside :/</div>
    	
    	<div ng-show="submitReady">
		
			
	
	    	<form name="createEventForm">
	    		<H3>Fill this:</H3>
	    		
	    		<div class="inputLabel"><label>Interest:
		    		<select name="selectedItem" ng-model="selectedItem" ng-options="interest.Interest for interest in interests track by interest.objectId" required>
					      <option value="">Select Interest</option> 
					</select>
				</label></div>
				
				<div class="inputLabel"><label>Event brief:	
	    			<input class="text" name="eventDescription" ng-model="eventDescription" ng-minlength="3" ng-maxlength="10" required></input> 
	    		</label></div>

	    		<div class="inputLabel"><label for="eventDate">Pick a date:
					<input type="date" id="eventDate" name="inputDate" ng-model="eventDate" placeholder="yyyy-MM-dd" min="{{minDate | date:'yyyy-MM-dd'}}" max="2015-12-31" required />
					 <div role="alert">
						 <span class="error" ng-show="createEventForm.inputDate.$error.required">
						 Required!</span>
						 <span class="error" ng-show="createEventForm.inputDate.$error.date">
						 Not a valid date!</span>
					</div>
				</label></div>
					
				<div class="inputLabel"><label># Players Needed:	
	    			<input class="number" name="usersNeeded" ng-model="usersNeeded" min="1" max="22" required></input> 
	    		</label></div>
	    		
	    		<div ng-show="selectedItem.Interest" class="optionalInput animate-show"> 

		    		<H3>Optionally Fill {{selectedItem.Interest}} related stuff:</H3>
	
		    		<div class="inputLabel"><label># Teams Playing:	
		    			<input class="number" name="groupsNeeded" ng-model="groupsNeeded" min="1" max="22"></input> 
		    		</label></div>
	
		    		<div class="skillLevel"><label>Expected Skill Level (1-10):	
		    			<input class="number" name="groupsNeeded" ng-model="groupsNeeded" min="1" max="10"></input> 
		    		</label></div>
	    		</div>
	    		
	    		<div>
	    			<input type="button" value="Create Event!" ng-disabled="createEventForm.eventDescription.$invalid || createEventForm.inputDate.$invalid" ng-click="createEvent()" />
	    		</div>
	    	</form>
	    	
	    	
 <!--
    <tt>value = {{eventDate | date: "yyyy-MM-dd"}}</tt><br/>
    <tt>myForm.input.$valid = {{myForm.input.$valid}}</tt><br/>
    <tt>myForm.input.$error = {{myForm.input.$error}}</tt><br/>
    <tt>myForm.$valid = {{myForm.$valid}}</tt><br/>
    <tt>myForm.$error.required = {{!!myForm.$error.required}}</tt><br/>-->
</form>{{ISOdate}}

    	</div>
    </body>
</ons-page>