<!DOCTYPE HTML>
<html ng-app="mediaApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <!--<link rel="stylesheet" href="components/loader.css">
    <link rel="stylesheet" href="css/style.css">-->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="lib/onsen/css/onsenui.css">
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components-blue-basic-theme.css">

    
     <script src="cordova.js"></script>
    <script src="lib/onsen/js/angular/angular.js"></script>
    <script src="lib/angular-ui-router.min.js"></script>

    <script src="lib/angular-resource.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>

    <script src="lib/parse-1.3.3.js"></script>
    
    
    <script src="js/initservices.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/index.js"></script>

    
    

</head>

<body>

  <div id="fb-root"></div>


  <script src="js/facebookConnectPlugin.js"></script>
    <script>


    // Load the SDK's source Asynchronously
    (function(d, debug){
       var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement('script'); js.id = id; js.async = true;
       js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
       ref.parentNode.insertBefore(js, ref);
     }(document, /*debug*/ false));
    
    
  </script>
  
  			<ons-sliding-menu
			    menu-page="menu.html" main-page="main.html" side="left"
				var="menu" type="overlay" max-slide-distance="260px" swipable="true">
			</ons-sliding-menu>
  
  <ons-template id="main.html">
	<ons-navigator var="navOut" >
	      <ons-toolbar>
	        <div class="left">
	          <ons-toolbar-button ng-click="menu.toggle()">
	            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
	          </ons-toolbar-button>
	        </div>
	        <div class="center">STRICTLY</div>
	      </ons-toolbar>
	      <ons-row style="margin-top: 100px;">
	        <ons-col align="center">
	          <ons-button modifier="light" ng-click="menu.toggleMenu()">
	            Toggle Menu
	          </ons-button>
	          <p style="color: #999; font-size: 13px;">Click "Toggle Menu" to close/open menu,<br> H You can also swipe the page left/right.</p>
	        </ons-col>
	      </ons-row>	
	  </ons-navigator> 
  </ons-template>


  	

</body>
</html>
