
<!--<ons-navigator title="Login">-->
<ons-page ng-controller="LoginCtrl">
<div  id="loginBody" >
	<ons-toolbar >
	    <div class="left">
	      <ons-toolbar-button ng-click="menu.toggle()">
	        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
	      </ons-toolbar-button>
	    </div>
	    <div class="right">
	      <ons-toolbar-button ng-click="console.log(navOut.getPages())">
	        <ons-icon icon="ion-gear-a" size="28px" fixed-width="false"></ons-icon>
	      </ons-toolbar-button>
	    </div>
	    <div class="center">Login</div>
	</ons-toolbar>
        

	<body>
    	<div ng-show="loginStatus" class="alertBox"> {{loginStatus}} :/</div>
		<div >
			<div class = "profilePicture" ng-if="user.profilePicture" class="center" style="margin:auto;"><img ng-src="{{user.profilePicture}}" /></div>
			<div ng-if="user" class="center" style="margin:auto;">{{user.name}}</div>
		   	<div class="buttonHolder" ng-hide="user"><button class="btn loginButtons" ng-click="FB_login()">Connect with Facebook</button></div>
			<div class="buttonHolder" ng-show="user" ><button class="btn loginButtons" ng-click="logout()">Logout</button></div>
			<!--<ons-button onclick="navOut.popPage()">Pop</ons-button>
			<ons-button onclick="menu.toggle()">Menu</ons-button>
			<div>Hi{{user.authData}}</div>
			<div>Pic:{{user.profilePicture}}</div>-->
			
		</div>
	</body>
	</div>
</ons-page>
<!--</ons-navigator>-->